<h1>Add your tour</h1>

<%= simple_form_for(@tour) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :limit_of_people %>
  <%= f.input :price %>
  <%= f.input :starting_time %>
  <%= f.input :duration %>
  <%= f.input :destination %>
  <%= f.input :photo, as: :file %>
  <%= f.input :status %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
