<%# <h1>Tours#show</h1>
<p>Find me in app/views/tours/show.html.erb</p> %>
<h1>
  <%= @tour.title %>
</h1>

<p>
  <%= @tour.description %>
</p>

<ul>
  <li>Limit of <%= @tour.limit_of_people%> people</li>
  <li>$ <%= @tour.price%></li>
  <li>Every day at <%= @tour.starting_time%>h</li>
  <li>Duration of <%= @tour.duration%> hours</li>
  <!--- <li><%= @tour.status%></li> --->
  <li>Meeting at <%= @tour.destination%></li>
</ul>

<h2>Bookings:</h2>
<ul>
  <% @tour.bookings.each do |booking| %>
    <li><%= booking.status %></li>
  <%end%>
</ul>

<%= link_to 'Back', tours_path %> |
