<!---SEARCH -->

<%= form_tag tours_path, method: :get do %>

  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a movie"
  %>
  <%= submit_tag "Search", class: "btn btn-secondary" %>

<% end %>

<!---BANNER -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('banner_pic.jpg') %>);">
  <div class="container">
    <h1>Redefine your adventure</h1>
    <p>let yourself be guided through your adventures by <strong>locals</strong> all over the world!</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<!---Most popular tours CARDS -->

<h2>Most popular tours</h2>

<div class="card-container">
<% @tours.each do |tour| %>
  <%= link_to tour_path(tour.id), class:"card-link" do%>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('pao_de_acucar.jpg') %>)">
      <%= tour.title %>
    </div>
  <% end %>
<% end %>
</div>

<!---Choose your favorite type of tour CARDS -->

<h2>Choose your favorite type of tour</h2>

<div class="card-container">
  <%= link_to tours_path(:query => "hiking"), class:"card-link" do%>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('pao_de_acucar.jpg') %>)">
    Hiking
    <%end%>
  </div>
  <%= link_to tours_path(:query => "diving"), class:"card-link" do%>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('cristo.jpg') %>)">
    Diving
    <%end%>
  </div>
  <%= link_to tours_path(:query => "city"), class:"card-link" do%>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('pao_de_acucar.jpg') %>)">
    City Tours
    <%end%>
  </div>
  <%= link_to tours_path(:query => "wellness"), class:"card-link" do%>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('cristo.jpg') %>)">
    Wellness
    <%end%>
  </div>
</div>
